# This is a TEMPLATE showing the structure.
# 
# To create the actual sealed secret:
#
# 1. First, create a regular secret YAML (don't apply it!):
#
#    cat > /tmp/netbird-secret.yaml << EOF
#    apiVersion: v1
#    kind: Secret
#    metadata:
#      name: netbird-mgmt-api-key
#      namespace: netbird
#    type: Opaque
#    stringData:
#      NB_API_KEY: "your-actual-netbird-api-key-here"
#    EOF
#
# 2. Seal it using kubeseal:
#
#    kubeseal --controller-name=sealed-secrets-controller \
#             --controller-namespace=kube-system \
#             --format yaml \
#             < /tmp/netbird-secret.yaml \
#             > apps/netbird-operator/manifests/sealed-secret.yaml
#
# 3. Delete the plain secret:
#
#    rm /tmp/netbird-secret.yaml
#
# 4. Commit the sealed secret to Git
#
# The sealed secret will look something like this:
# (This is just an example structure, the actual encrypted data will differ)

apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: netbird-mgmt-api-key
  namespace: netbird
spec:
  encryptedData:
    NB_API_KEY: AgBy8hCi...  # This will be your encrypted data
  template:
    metadata:
      name: netbird-mgmt-api-key
      namespace: netbird
    type: Opaque
